*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  sans-serif;
    color: #333333;

}
body{
    background-color: #F9F9F9;
}

.navBackground{
  background-color: #FF4C4C;
}
.nava{
    position: relative;
    color: white;

}
.nava::after{
    content: '';
      position: absolute;
      width: 0;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: wheat;
      transition: width 0.6s ease;
}
.nava:hover::after{
    width: 100%;
}


.imageHeight{
  height: 500px ;
}

.border_redius{
  border-radius: 30px;
}
.cartBackground{
  background-color:#E53935;
  color:#F9F9F9 ;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}
.cartBackground:hover{
  background-color: #F9F9F9;
  color: #333333;
  border: 1px solid#E53935;
}

.priceTag{
color: #FFC107;
}
.border{
  border: 10px solid wheat;
}
.fontweight{
  font-weight: bolder;
}
.backgroundColor{
  background-color: #F9F9F9;
  color: #333333;
}
.footerBackground{
  background-color:#E53935;
  color:#F9F9F9 ;
}
.text{
  text-decoration: none;
  color: #F9F9F9;
}



/* Admin  Csss */
.adminnav{
  background-color:#FF4C4C;
}
.adminbtn{
  background-color: rgb(71, 166, 12);
  color:#F9F9F9 ;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;

}
.AddItemMArgin{
  margin-top: 70px;
}
.menuCardTop{
  margin-top: 70px;
}
.barChart1{
  background-color: #E53935;
  height: 600px;
}
.barChart2{
  background-color: #52e535;
  height: 500px;
}.barChart1{
  background-color: #E53935;
  height: 600px;
}.barChart1{
  background-color: #E53935;
  height: 600px;
}.barChart1{
  background-color: #E53935;
  height: 600px;
}.barChart1{
  background-color: #E53935;
  height: 600px;
}